*.o
*.d
__pycache__
csr.csv
analyzer.csv
prog/
build/
*.nsys-rep
JuliaLocalPreferences.toml

# External software that gets vendored in via software/Makefile
software/nvidia-cuda
software/nvidia-driver
software/kernel
software/soapysdr
software/limesuite
software/SoapySDR.jl
