[submodule "software/nvidia-driver"]
	path = software/nvidia-driver
	url = https://github.com/JuliaComputing/open-gpu-kernel-modules
	branch = sjk/rebar2
	shallow = true
[submodule "software/kernel"]
	path = software/kernel
	url = https://github.com/torvalds/linux
	branch = v5.18
	shallow = true
